# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/

# Database
db.sqlite3
*.sqlite3
*.db

# Local environment variables
.env
.env.*

# Django stuff
*.log
local_settings.py
media/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/

# Distribution / packaging
dist/
build/
*.egg-info/
